html,body{
    padding: 0%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

hr{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    color: black;
}
a{
   
    text-decoration: none;
}

input{
    display: block;
    margin: auto;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 20px;
    width: 25%;
}


.cabecalho{
    padding: 13px;
    height: 19%;
    background-color: black;
    margin-bottom: 5%;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    
}

.logo_menu{
    margin-top: 0,5%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

.menu{
    margin: 0;
    margin-right: 1%;
    padding: 0;
    text-align: right;
}

.titulo_menu{

    color: white;
    display: inline;
}

.text_menu{
    font-size: 90%;
    color: white;
    display: inline;
}

.nav_menu{
    margin: 0;
    padding: 0;
}

.text_menu:hover{
    color: rgba(255, 255, 255, 0.61);
}

.cont1{
    width: 80%;
    margin: auto;
}

.cont_titulo{
    margin: auto;
    text-align: center;
    padding-top: 5% ;
    margin-bottom: 5%;
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
}

.cont_intro{
    font-size: 140%;
}

.calcular{
    margin: auto;
    width: 80%;
    
}

.calc_text{
    display: inline-block;
    font-size: 17px;
}

.calculo{
    text-align: center;
}

.button{
    background-color:rgb(255, 255, 0);
    font-size: 70%;
    width: 20%;
    padding: 1%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-weight: bold;

}

.button:hover{
    background-color:rgb(240, 240, 0);

}

.resultado{
    text-align: center;
    background-color: green;
}

footer{
    margin-top: 5%;
    background-color: black;
    color: white;
}

.logo_footer{
    margin-top: 2%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

.title_footer{
    font-size: 90%;
    display: inline;
    margin-top: 5%;
    color:white;
}

.nav_footer{
    text-align: center;
  
}

.nav_footer_text{
    display: inline;
   font-size: 75%;
   color: white;
}

.copyright{
    color: white;
    font-size: 45%;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

.title_footer:hover{
    color: rgba(255, 255, 255, 0.37);
}

.nav_footer_text:hover{
    color: rgba(255, 255, 255, 0.37);
 }



 @media only screen and (max-width: 2000px) {
   
    html,body{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 1060px) {
   
    html,body{
        font-size: 16px;
    }

  }

  @media only screen and (max-width: 875px) {
   
  
    button{
        font-size: 100%;
        width: 50%;
        height: 40px;
        color: black;
      
    }


  @media only screen and (max-width: 660px) {
   
    .logo_menu{
        padding-top: 2%;
       display: block;
       margin: auto;
    }

    .menu{
        padding: 1%;
        display: block;
        text-align: center;
    }
    
    .titulo_menu{
        display: block;
        text-align: center;
    }

    .logo_footer{
        padding-top: 2%;
        display: block;
        margin: auto;
    }
    
    .title_footer{
        display: block;
       text-align: center;
    }
    
    input{
        padding: 4%;
        margin-bottom: 6%;
        width: 60%;
    }

    .button{
        font-size: 70%;
        width: 40%;
        color: black;
        
    }
  }}