html,body{
    padding: 0%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

hr{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    color: black;
}
a{
   
    text-decoration: none;
}

.cabecalho{
    padding: 13px;
    height: 19%;
    background-color: black;
    margin-bottom: 5%;
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
    
}

.logo_menu{
    margin-top: 0,5%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

.menu{
    margin: 0;
    margin-right: 1%;
    padding: 0;
    text-align: right;
}

.titulo_menu{

    color: white;
    display: inline;
}

.text_menu{
    font-size: 90%;
    color: white;
    display: inline;
}

.nav_menu{
    margin: 0;
    padding: 0;
}

.text_menu:hover{
    color: rgba(255, 255, 255, 0.61);
}

section{
    margin: auto;
    width: 80%;
}

.cont1{
    padding-top: 3%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.585);
}

.cont1_tile{
     text-align: left;
     padding-left: 4%;
}

.cont1_text{
    padding-left: 2%;
    width: 40%;
    display: inline-block;
}

.cont1_img{
    border-radius: 20px;
    width: 35%;
    float:right;
}

button{
    margin-top: 3%;
    margin-left: 30%;
    background-color: yellow;
    font-size: 70%;
    width: 20%;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover{
    
    background-color:rgb(240, 240, 0);
}

.cont2{
    margin: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.585); 
}

.cont2_tile{
    text-align: left;
    padding-left: 4%;
}

.cont2_text{
    padding-left: 2%;
    width: 40%;
    display: inline-block;
}

.cont2_img{
    border-radius: 20px;
    width: 35%;
    float:right;
}

footer{
    margin-top: 5%;
    background-color: black;
    color: white;
}

.logo_footer{
    margin-top: 2%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

.title_footer{
    font-size: 90%;
    display: inline;
    margin-top: 5%;
    color:white;
}

.nav_footer{
    text-align: center;
  
}

.nav_footer_text{
    display: inline;
   font-size: 75%;
   color: white;
}

.copyright{
    color: white;
    font-size: 45%;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

.title_footer:hover{
    color: rgba(255, 255, 255, 0.37);
}

.nav_footer_text:hover{
    color: rgba(255, 255, 255, 0.37);
 }



 @media only screen and (max-width: 2000px) {
   
    html,body{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 1060px) {
   
    html,body{
        font-size: 16px;
    }

    .cont1_img, .cont2_img{
        width: 40%;
    }
    
  }

  @media only screen and (max-width: 875px) {
   
  
    button{
        font-size: 100%;
        width: 50%;
        height: 40px;
        color: black;
      
    }

    .cont1_img, .cont2_img{
        height: 300px;
        width: 100%;
        display: block;
        float: none;
    }
    
    
    .cont2_text,.cont1_text{
        padding-left: 2%;
        width: 100%;
    }
  }

  @media only screen and (max-width: 660px) {
   
    .logo_menu{
        padding-top: 2%;
       display: block;
       margin: auto;
    }

    .menu{
        padding: 1%;
        display: block;
        text-align: center;
    }
    
    .titulo_menu{
        display: block;
        text-align: center;
    }

    .logo_footer{
        padding-top: 2%;
        display: block;
        margin: auto;
    }
    
    .title_footer{
        display: block;
       text-align: center;
    }
    
  }

 