html,body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}


h3{
    display: inline;
    position: absolute;
    left: 15%;
    top:10%;
}

hr{
    margin-top: 650px;
    width: 80%;
    color: black;
}
a{
   
    text-decoration: none;
}

ul{
    display: inline;
    color: wheat;
}

li{
    display: inline;
    

}
#cabecalho{
    height: 9%;
    width: 100%;
    background-color: yellow;
    
}

#logomenu{
    display: flex;
    margin-top: 0,5%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

#menu{
    position: absolute;
    top:11.3%;
    left: 50%;
    padding: 1%;
    height: 1%;
  
}

#textmenu{
    color: black;
}


section{
    width: 80%;
    margin: auto;
  

}
#cont1{
    border-radius: 10px;
    top: 30%;
    width: 80%;
    height: 70%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.585);
   
}

#cont1tile{
    margin-left: 3%;
}

#cont1text{
    margin-left: 2%;
    width: 40%;
}

#cont1img{
    border-radius: 20px;
    width: 35%;
    position: absolute;
    left:55%;
    top: 20%;
}

button{
    margin-left: 30%;
    background-color: yellow;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    
    background-color: rgba(255, 255, 0, 0.404);
}

#cont2{
    position: absolute;
    border-radius: 10px;
    top: 110%;
    width: 80%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.585);
}

#cont2text{
    margin-left: 2%;
    width: 40%;
}

#cont2img{
    border-radius: 20px;
    width: 35%;
    position: absolute;
    left:55%;
    top: 20%;
}

footer{
    position: absolute;
    top:200%;
    background-color: black;
    width: 100%;
    height: 35%;
    color: white;

}

#titlefooter{
    margin-top: 5%;
    color:white;
}

#logofooter{
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

#navfooter{
    margin: auto;
    width: 35%;
}
#textfooter{
    margin-top: 2%;
    font-size: 12px;
    margin-left: 43%;
}

#navfootertext{
   color: white;
}
