html,body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-image: url(../assents/body_background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    display: inline;
    position: absolute;
    margin-left: 3%;
    margin-top: 5%;

}

a{
    color: black;
    text-decoration: none;
}

ul{
    display: inline;
    color: wheat;
}

li{
    display: inline;
    color:black;
}
#cabecalho{
    height: 150px;
    width: 100%;
    background-color: yellow;
    
}

#logomenu{
    display: flex;
    margin-top: 0,5%;
    margin-left: 4%;
    width: 150px;
    display:inline;
}

#menu{
   margin-right: 5%;
    margin-top: 5%;
    float: right;
    padding: 10px;
    height: 20px;
}


section{
 margin: auto;

}
#cont1{
  
    background-color: rgba(255, 255, 255, 0.585);
   
}
