html,body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}


h3{
    display: inline;
}

hr{
    width: 90%;
}
a{
   
    text-decoration: none;
}

ul{
    display: inline;
    color: wheat;
}

li{
    display: inline;
    

}

p{
    margin-bottom: 3%;
}
#cabecalho{
    padding: 15px;
    width: 98%;
    height: 19%;
    background-color: black;
    margin-bottom: 5%;
    
}

#logomenu{
    display: flex;
    margin-top: 0,5%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

#menu{
    padding: 1%;
    height: 1%;
    display: inline;
   margin-left: 25%;
}

#textmenu{
    color: white;
}

#textmenu:hover{
    color: rgba(255, 255, 255, 0.61);
}

#cont1{
    width: 80%;
    margin: auto;
}

#conttitulo{
    border-radius: 10px;
    margin: auto;
    width: 60%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
    margin-top: 6%;
    font-family: Arial, Helvetica, sans-serif;
}

#cont-intro{
    font-size: 1.5rem;
}
footer{
    position: relative;
    margin-top: 8%;
    background-color: black;
    width: 100%;
    height: 300px;
    color: white;


}

#titlefooter{
    margin-top: 5%;
    color:white;
}

#titlefooter:hover{
    color: rgba(255, 255, 255, 0.37);
}

#logofooter{
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
    width: 9%;
    display:inline;
}

#navfooter{
    margin: auto;
    width: 35%;
}
#textfooter{
    margin-top: 2%;
    font-size: 12px;
    margin-left: 43%;
}

#navfootertext{
   color: white;
}

#navfootertext:hover{
    color: rgba(255, 255, 255, 0.37);
 }
